<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
    <div class="main-wrapper">
      <!-- Main Content -->
    <div class="main-content">
        <div class="section container-fluid">
            <div class="section-header">
                <h1>Add Template</h1>
            </div>

            <div class="content mt-4">
                <div class="modal-content">
                    <div class="modal-body">
                        <form [formGroup]="templateForm" (ngSubmit)="onSubmit()">
                            <!-- {{templateForm.value | json }} -->

                            <div class="form-group">
                                <label class="col-form-label">Reference Number</label>  
                                <input formControlName="templateworksheetcode" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Workscope</label>
                                <input formControlName="templateworksheettitle" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Component</label>
                                <input formControlName="templateworksheetdescription" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Manufacturer</label>
                                <input formControlName="templateworksheetmanufacturer" type="text" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <label style="margin-right: 15px" class="col-form-label">Part Number</label>
                                <button style="padding: 3px 10px" type="button" class="btn btn-primary btn-sm m-2" (click)='addPartNumber()'><i class="fas fa-plus"></i> Add Part Number</button>
                                <div formArrayName="part" *ngFor="let number of templateForm.get('part').controls; let i=index">
                                    <div [formGroupName]="i">
                                        <input type="text" class="form-control my-1 col-11" formControlName="partnumber" style="display: inline; margin-right: 5px;">
                                        <button class="btn btn-danger" type="button" (click)="deletePartNumber(i)"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">CMM</label>
                                <input formControlName="templateworksheetformno" type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">REVISION/ISSUE</label>
                                <input formControlName="templateworksheetformrevisionno" type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label class="col-form-label">DATED</label>
                                <input formControlName="templateworksheetformrevisiondate" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">REVISION REASONS</label>
                                <input formControlName="templateworksheetformrevisionreason" type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label style="margin-right: 15px" class="col-form-label">Task Type</label>
                                <button style="padding: 3px 10px" type="button" class="btn btn-primary btn-sm m-2" (click)='addTaskType()'><i class="fas fa-plus"></i> Add Task Type</button>
                                <div formArrayName="templateworksheettasktype" *ngFor="let type of templateForm.get('templateworksheettasktype').controls; let i=index">
                                    <div [formGroupName]="i">
                                        <input type="text" class="form-control my-1 col-11" formControlName="templateworksheettasktype" style="display: inline; margin-right: 5px;">
                                        <button class="btn btn-danger" type="button" (click)="deleteTaskType(i)"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row" style="margin-bottom: 25px;">
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button style="padding: 3px 10px" type="button" class="btn btn-primary btn-sm m-2" type="button" (click)="addNewJobcard()"><i class="fas fa-plus"></i> Add JobCard </button>                
                                </div>
                                <div class="col-3">
                                    <select class="selectgroup form-control" style="text-align: center;" (change)="showJC()" name="nbJobcards" id="nbJobcards">
                                        <option value="default">Select Jobcard</option>
                                        <option *ngFor="let jobcard of templateForm.get('templatejobcard').controls; let i=index" value="{{i}}">Jobcard {{i+1}}</option>
                                    </select>
                                </div>
                            </div>

                            <div formArrayName="templatejobcard">
                                <div *ngFor="let jobcard of templateForm.get('templatejobcard').controls; let k=index">
                                    <div [formGroupName]="k" >
                                        <div id="{{k}}" style="display: none">
                                            <h1>Jobcard {{k+1}} : <button class="btn btn-danger" type="button" (click)="deleteJobcard(k)">Remove Jobcard</button></h1>
                                            <div class="card" style="text-align: right; border-left: 2px solid #6777ef;">
                                                <div class="row">
                                                    <div class="form-group col-2">
                                                        <label class="col-form-label">JobCard Title</label>
                                                    </div>
                                                    <div class="form-group col-10">
                                                        <input class="form-control" formControlName="templatejobcardtitle" type="text">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-2">
                                                        <label class="col-form-label">JobCard Description</label>
                                                    </div>
                                                    <div class="form-group col-10">
                                                        <input class="form-control" formControlName="templatejobcarddescription" type="text">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-2">
                                                        <label class="col-form-label">JobCard Remarks</label>
                                                    </div>
                                                    <div class="form-group col-10">
                                                        <textarea class="form-control" formControlName="templatejobcardremarks" style="height: 100%" rows="1"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-1"></div>
                                                <div class="col-11">
                                                    <div formArrayName="templatetask">
                                                        <div  *ngFor="let task of jobcard.get('templatetask').controls; let i=index">
                                                            <div [formGroupName]="i">
                                                                <div class="card" style="text-align: right; border-left: 2px solid #6777ef;">
                                                                    <h3 style="text-align: left; margin: 0px 0px 12px 10px">Task {{i+1}} : <button class="btn btn-danger" type="button" (click)="deleteTask(jobcard.controls.templatetask, i)">Remove Task</button>
                                                                    <select (change)="taskRegulation(jobcard.controls.templatetask, i)" class="form-control" style="display: inline; width: auto; margin-left: 10px" formControlName="taskregulationid" id="taskregulationid">
                                                                        <option value="default" selected>Task Regulation</option>
                                                                        <option value="1">Non Regulated Task</option>
                                                                        <option value="2">Regulated Task</option>
                                                                    </select>
                                                                    </h3>
                                                                    <div class="row form-group" >
                                                                        <div class="col-2">
                                                                            <label class="col-form-label">Task {{i+1}} Description</label>
                                                                        </div>
                                                                        <div class="col-10">
                                                                            <textarea class="form-control" formControlName="templatetasktitle" style="height: 100%" rows="1"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row form-group">
                                                                        <div class="col-2">
                                                                            <label class="col-form-label">Task {{i+1}} Remarks</label>
                                                                        </div>
                                                                        <div class="col-10">
                                                                            <textarea class="form-control" formControlName="templatetaskremarks" style="height: 100%" rows="1"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-1"></div>
                                                                        <div class="col-11">
                                                                            <div formArrayName="templatefinding">
                                                                                <div *ngFor="let find of task.get('templatefinding').controls; let s=index">
                                                                                    <div [formGroupName]="s">   
                                                                                        <h5 style="text-align: left; margin-bottom: 12px;">Finding {{s+1}} : <button class="btn btn-danger" type="button" (click)="deleteFindingTask(task.controls.templatefinding, s)">Remove Finding</button></h5>
                                                                                        <div class="row form-group">
                                                                                            <div class="col-2">
                                                                                                <label class="col-form-label">Finding {{s+1}} Title</label>
                                                                                            </div>
                                                                                            <div class="col-10">
                                                                                                <textarea class="form-control" formControlName="templatefindingtitle" style="height: 100%" rows="1"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row form-group">
                                                                                            <div class="col-2">
                                                                                                <label class="col-form-label">Finding {{s+1}} Data</label>
                                                                                            </div>
                                                                                            <div class="col-10">
                                                                                                <textarea class="form-control" formControlName="templatefindingrawdata" style="height: 100%" rows="1"></textarea>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-1"></div>
                                                                        <div class="col-3">
                                                                            <button class="btn btn-primary btn-sm m-2" type="button" (click)="addNewFindingTask(task.controls.templatefinding)"><i class="fas fa-plus"></i> Add Finding </button>                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-1"></div>
                                                                    <div class="col-11">
                                                                        <div formArrayName="childtemplatetask" class="card" style="box-shadow: none;" >
                                                                            <div *ngFor="let subtask of task.get('childtemplatetask').controls; let j=index" class="card" style="margin-bottom: 0px;">
                                                                                <div [formGroupName]="j" style="text-align: right; border-left: 2px solid #6777ef;">
                                                                                    <h5 style="text-align: left; margin: 0px 0px 12px 10px">Subtask {{j+1}} : <button class="btn btn-danger" type="button" (click)="deleteSubtask(task.controls.childtemplatetask, j)">Remove Subtask</button>
                                                                                        <select disabled class="form-control" style="display: inline; width: auto; margin-left: 10px" formControlName="taskregulationid" id="taskregulationid">
                                                                                            <option value="default" selected>Task Regulation</option>
                                                                                            <option value="1">Non Regulated Task</option>
                                                                                            <option value="2">Regulated Task</option>
                                                                                        </select>
                                                                                    </h5>
                                                                                    <div class="row">
                                                                                        <div class="form-group col-2">
                                                                                            <label class="col-form-label">Subtask {{j+1}} Description</label>
                                                                                        </div>
                                                                                        <div class="form-group col-10">
                                                                                            <textarea formControlName="templatetasktitle" class="form-control" style="height: 100%" rows="1"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="form-group col-2">
                                                                                            <label class="col-form-label">Subtask {{j+1}} Remarks</label>
                                                                                        </div>
                                                                                        <div class="form-group col-10">
                                                                                            <textarea formControlName="templatetaskremarks" class="form-control" style="height: 100%" rows="1"></textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-2"></div>
                                                                                <div class="col-10">
                                                                                    <button class="btn btn-primary btn-sm m-2" type="button" (click)="addNewSubtask(task, task.controls.childtemplatetask)"><i class="fas fa-plus"></i> Add Subtask </button>                
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-primary btn-sm m-2" type="button" (click)="addNewTask(jobcard.controls.templatetask)"><i class="fas fa-plus"></i> Add Task </button>                
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="modal-footer pull right">
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Check</button>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer pull right">
                            <button routerLink='/templates' routerLinkActive="active" class="btn btn-secondary btn-lg btn-block active">Back</button>
                        </div>








                        
                    </div>
                </div>
            </div>     
        </div>
      </div>



