<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
    <div class="main-wrapper">
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Templates</h1>
          </div>
          <div class="content mt-4">
            <div class="row">
              <ul class="nav nav-pills nav-pills-primary nav-pills-icons col-md-12">
                  <li class="nav-item col-md-3 px-0"></li>
                  <li class="nav-item col-md-3 px-0"></li>
                  <li class="nav-item col-md-3 px-0"></li>
                  <li class="nav-item col-md-3 px-0">
                      <button routerLink='/add-template' routerLinkActive="active" class="btn btn-warning m-0" ><i class="fas fa-plus"></i> ADD NEW TEMPLATE </button>                
                  </li>
              </ul>
            </div>
          </div>
          <div class=" content mt-4">
            <div class="row justify-content-center">
              <div class="col-12">
                 <div class="card">
                  <div class="card-body">
                    <div class="table-responsive" style="overflow-x: hidden;">
                      <h3 class="mb-3 text-center"> Templates</h3>
                      <div id="customize_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row">
                          <div class="col-sm-12">
                            <table class="table mt-1 no-footer dataTable" id="customize2" role="grid" aria-describedby="customize2_info" style>
                              <thead>
                                <tr role="row">
                                  <th class="font-weight-bold text-center" tabindex="0" aria-controls="customize2" rowspan="1" colspan="1" aria-label="Templata" style="width: 200.4px;">
                                    RADOME
                                  </th>
                                  <th class="font-weight-bold text-center" tabindex="0" aria-controls="customize2" rowspan="1" colspan="1" aria-label="EDIT" style="width: 148.4px;">
                                    EDIT
                                  </th>
                                  <th class="font-weight-bold text-center" tabindex="0" aria-controls="customize2" rowspan="1" colspan="1" aria-label="DELETE" style="width: 148.4px;">
                                      DELETE
                                  </th>  
                                </tr>
                              </thead>
                              <tbody class="table-hover">
                                <tr *ngFor="let template of templates" class="text-dark odd" role="row">
                                  <td class="text-center sorting_1">  
                                    {{template.templateworksheetcode}}
                                  </td>
                                  <td class="text-center">
                                    <button class="btn btn-light" (click)="onSelect(template)"> <i  class="fas fa-edit"></i></button>
                                  </td>
                                  <td class="text-center">
                                        <button class="btn btn-danger" (click)="openDialog(template.templateworksheetcode)" (click)="deleteTemplate(template)"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>      
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  
  
  
  