<h1 mat-dialog-title>Template {{data.ReferenceNumber}}</h1>
<div mat-dialog-content>
  <p>Do you want to delete template {{data.ReferenceNumber}}?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]=data.ReferenceNumber cdkFocusInitial>Delete</button>
</div>

